.not-found__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(43, 43, 43);
    height: 80vh;
} 
p {
    max-width: 45rem;
    font-size: 2.6rem;
}
span {
    font-size: 3.5rem;
}
