* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
    z-index: 10;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
img {
    width: 11rem;
    height: 15rem;
    object-fit: cover;
}


