.nav__container {
    width: 100vw;
    background-color: rgb(43, 43, 43);
}
.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9rem;
    column-gap: 3.5rem;
}
.nav-items li a {
    color: aliceblue;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 600;
}
.nav-items li:nth-child(3) {
    color: aliceblue;
    font-weight: 600;
    font-size: 2.8rem;
    cursor: default;
}